@model CafeWebsite.Models.Menu

@{
    ViewBag.Title = "Delete";
}

<div class="card">
    <div class="header">
        <h2 class="title">Delete Menu</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control">
                    <label>Category : </label>
                    <label class="">@Html.DisplayFor(model => model.MenuCat.Name)</label>
                </div>
                <div class="form-control">
                    <label>Name : </label>
                    <label class="">@Html.DisplayFor(model => model.PName)</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-control">
                    <label>Price : </label>
                    <label class="">@Html.DisplayFor(model => model.Price)</label>
                </div>
                <div class="form-control">
                    <label>Content : </label>
                    <label class="">@Html.DisplayFor(model => model.Content)</label>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row text-center">
                <div class="col-md-6">
                    <a class="btn btn-default" href="/Menu/Index">Back To List</a>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
