@model CafeWebsite.Models.MainDishes

@{
    ViewBag.Title = "Create";
}


<div class="card">
    <div class="header">
        <h2 class="title">Insert New MainDishe</h2>

    </div>
    <div class="content">
        @using (Html.BeginForm("Create", "MainDishes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <label>
                @Html.ValidationSummary()
            </label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name : </label>
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>MainDishe Image : </label>
                        <img src="" class="img-box" id="b-img" />
                        <input type="file" name="URL" class="form-control" onchange="readURL(this);" accept="image/jpg, image/jpeg, image/png" />
                        @Html.ValidationMessageFor(m => m.URL, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6">
                    <a class="btn btn-default" href="/MainDishes/Index">Back To List</a>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Create MainDishe" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#b-img')
                    .attr('src', e.target.result)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    //CKEDITOR.replace("txtcontent");
    ////$(function () {
    ////    $('input[type=datetime]').datetimepicker({ dateFormat: 'yy-mm-dd', timeFormat: 'hh:mm', changeMonth: true, changeYear: true, showAnim: 'slideDown' });
    ////});
</script>